<h1>Projects</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iste, tenetur maxime placeat sed nulla cupiditate quo unde officia consequatur nobis hic commodi minima soluta dolores sunt enim deleniti optio!</p>
<section class= "imagenes">
    <div class="row justify-content-around imagenes">
        <div class="col-10 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-5">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'cuppon.jpg', class:"card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">Cuppon Page</h5>
                    <a href="#" class="btn">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-5">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'iguana.jpg', class:"card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">Iguana Page</h5>
                    <a href="#" class="btn">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-5">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'suricata.jpg', class:"card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">Suricata Page</h5>
                    <a href="#" class="btn">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</section>